body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Cream background */
    text-transform: uppercase;
  }
  
  header {
    color: #150050; /* White text */
    position: sticky;
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
    
    
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase
  }
  
  nav a:hover {
    color: #d35400; /* Magenta hover color */
  }
  
  main {
    padding: 50px;
  }
  
#about{
    background: url(/portfolio/img/sydney.jpg);
    text-align: center;
    width: 100%;
    height: 500px;
    font-size: 25px;
    display: flexbox;

}
  
  #about h1{
      
      color: #F4EEE0;
      padding-top: 350px
}
#about p{
    font-size: 15px;
    font-stretch: ultra-expanded;
    color: #F4EEE0
}
#resume{
    text-align: center;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    color: antiquewhite;
    text-align: center;
    flex-direction: column;


}



.resu{

  height: 70px;
  width: 100%;
  text-align: center
}

.split{
  display: flex;
  
  width: 100%;
  height: 1000px
}
.edu{
  flex:1;
  text-align: start;
  border: 4px solid transparent;
  
 
}
.exp{
  flex:1;
  text-align: left;
  border: 4px solid transparent
  
}
.resume-ug{
  background: #333;
  border: 12px solid transparent;
  border-radius: 7px
}
.resume-ug h3{
  color: #bac964
}
.resume-ug p{
  color: rgb(180, 180, 180)
}